.ReactModal__Overlay--after-open {
  display: flex;
}

.modal {
  display: flex;
  border: 1px solid grey;
  border-radius: 4px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background-color: white;
  padding: 0 1rem;
  justify-self: center;
  align-self: center;
}

.error::after {
  color: red;
  content: "Le champ n'est pas valide";
  display: block;
  margin-top: 5px;
  font-size: 0.8rem;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

form button {
  margin: 2rem 0 1rem;
}

form p {
  margin: 0;
  color: red;
}
