.ReactModal__Overlay--after-open {
  display: flex;
}

.modal {
  display: flex;
  border: 1px solid grey;
  border-radius: 4px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background-color: white;
  padding: 0 1rem;
  justify-self: center;
  align-self: center;
}

.error::after {
  color: red;
  content: "Le champ n'est pas valide";
  display: block;
  margin-top: 5px;
  font-size: 0.8rem;
}
